html, body {
    background-image: linear-gradient(#3778c2, 7ed5ea);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    scrollbar-width: none;
	max-width: 100%;
    overflow-x: hidden;
}

.element::-webkit-scrollbar {
    display: none;
}
/*Standard Body CSS Starts*/
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: linen;*/
}
h1 {
    color: #EE8600;
    font-size: 36pt;
}
h3 {
    color: #020749;
    font-size: 28pt;
    text-align: center;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #2C00C8;
}
h2 {
    color: #EE8600;
    font-size: 18pt;
    font-weight: 50;
}

h4 a {
	border-bottom: 2px solid currentColor;
}

h4 {
    color: #63bce5;
    font-size: 12pt;
    font-family: Courier New, Courier;
    font-weight: 300;
}
p {
    color: #000606;
    font-size: 18pt;
    text-align: left;
	display: block;
}
ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    margin: 0px 25px;
    zoom: 1;
    vertical-align: middle;
	width:auto;
}
/*Standard Body CSS Ends*/
/*special Body Info Starts*/
.bodycontent {
    text-align: left;
    padding: 75px 100px;
}
.headingcontent {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.tilecontent {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 100%;
}
.contentbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px;
    border-radius: 8px;
    width: 100%;
    border: none;
    background-image: linear-gradient(to right, #4b9fe1 , rgba(208, 124, 34, 0.5) 75%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.contentbutton:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    transition: 0.25s;
}
.smbutton {
	width: 30px;
	opacity: 0.7;
    background-color: rgba(139, 177, 116, 1);
    padding: 10px;
    margin: 0px 10px;
    border-radius: 12.632px;
    margin-bottom: 5px;
    transition: 1s;
}
.smbutton:hover {
    box-shadow: 5px 5px 10px black;
    transition: 0.25s;
}
.descriptionContent {
    padding: 20px 0;
    border-radius: 8px;
    border: none;
    background-color: rgb(224, 182, 137);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.descriptionContentText {
    float: left;
	margin-right: 5%;
}
.descriptionContentImage {
    width: 100px;
    float: left;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 25px;
}
.contentGroup{
	display: none;
}

.footer-placeholder {
    text-align: center;
    width: 100%;
}
/*mobile setup*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    p {
        font-size: 16pt;
    }
    .bodycontent {
        padding: 25px 100px;
    }
    .descriptionContentImage {
	    width: 100px;
    }
    .descriptionContentText {
        width: 75%;
    }
    h2 {
        font-size: 18pt;
    }
    .footer-placeholder {
        width: 100%;
    }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    p {
        font-size: 12pt;
    }
    li > p{
        font-size: 10pt;
    }
    .bodycontent {
        padding: 10px 20px;
    }
    .descriptionContentImage {
        width: 50px;
    }
    .descriptionContentText{
        width: 60%;
    }
    h2 {
        font-size: 14pt;
    }
    .footer-placeholder {
        width: 80%;
        margin: auto;
    }
}

.descriptionContentTextFullWidth{
	display: block;
    width: 100%;
}
